
{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/14.jpg' %}'); " data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<!-- <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/admin">Home <i class="fa fa-chevron-right"></i></a></span> <span>View Users<i class="fa fa-chevron-right"></i></span></p>-->
            <h1 class="mb-0 bread">View Rights</h1> 
          </div>
        </div>
      </div>
    </section>
		
			<div class="container">
				
								
								</div>
								
								</div>
								
				          
								</div>
								
				          </div>
								</div>
							</div>
							<div class="row no-gutters">
								<div class="col-md-10">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<h3 class="mb-4">View Rights</h3>
									<!-- Bordered table start -->

		<div class="card">
				<div class="heading-elements">
					
				</div>
			<!-- </div> -->
			<div class="card-content collapse show">
				
				<div class="table-responsive">
					<table class="table table-bordered mb-0">
						<thead>
							<tr>
								
								<!-- <th>Image</th> -->
								<th>Name</th>
                				<th>Image</th>
								<th>Description</th>
                                <!-- <th>Location</th> -->
                                <!-- <th>Transportation</th> -->
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
                            {% for i in view_rights %}
							<tr>
                                <td>{{i.rights}}</td>
                                <td><img style="height: 70px; width: 80px;" src="/media/{{i.image}}"></td>   
								
								<!-- <td>{{i.email}}</td> -->
								<td>{{i.desc}}</td>
                                <!-- <td>{{i.location}}</td> -->
                                

								<td>
									<!-- <a style="margin-left: 10px;" href="upd_rights?id={{i.id}}"><button class="btn-success">Update</button></a> -->
                                <a style="margin-left: 10px;" href="remove_rights?id={{i.id}}"><button class="btn-danger">Remove</button></a>
                                </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
										
									</div>
								</div>
								
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>

    
	{% endblock %}

  