{% extends 'adv/adv_base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<section class="contact-section">
    <div class="container">
        


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Profile Updation</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                       
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                            </div>
                        </div> -->
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input value="{{upd.phone}}" class="form-control valid" name="phone" id="phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Phone'" placeholder="Enter Phone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input value="{{upd.location}}" class="form-control valid" name="location" id="location" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Location'" placeholder="Enter Location">
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="regnum" id="regnum" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Regnum'" placeholder="Enter Enrolment Number">
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input value="{{upd.image}}" class="form-control valid" name="image" id="image" type="file" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Image'">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input value="{{upd.exp}}" class="form-control valid" name="exp" id="exp" type="text" placeholder="Experience" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Experience'">
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="edu" id="edu" type="text" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Qualification'">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="lawyertype" id="lawyertype" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Location'" placeholder=""> -->
                                    <!-- <div class="select-itms">
                                <select id="lawyertype" name="lawyertype" class="form-control valid" >
                                    <option selected>Choose your Lawyer</option>
                                    <option value="Family Lawyer">Family Lawyer</option>
                                    <option value="Immigration Lawyer">Immigration Lawyer</option>
                                    <option value="Security Lawyer">Security Lawyer</option>
                                    <option value="Employment Lawyer">Employment Lawyer</option>
                                    <option value="Corporate Lawyers">Corporate Lawyers</option>
                                </select>
                            </div>
                            </div>
                        </div> --> 
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Password'" placeholder="Enter your Password">
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Update</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</section>
{% endblock %}